$powderWhite : #e4e4e4;
$whiteGlass: rgb(249 249 249 / 50%);
$glassBlack: rgba(39, 36, 36, 0.3);
$boxShadow: rgba(0, 0, 0, 0.1);
$mildBlack: #212121;
$focus: rgb(166, 61, 87);
$raspberry: rgb(159 98 137 / 70%);
$errorColor: #992800;
$retroYellow: #ffc107cc;
$retroYellowHovered: rgba(254 174 0);
$retroSage: rgb(163 194 187);
$retroGreen: #3c7f72;
$gray: #868686;
$brown: #543622;
$cotto: #d14924;
$bgColor: #fff4db;
$labelShadow: #25292d99;