.glass {
    background: $whiteGlass;
    box-shadow: 0 4px 30px $boxShadow;
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
}

.error {
    border-color: $errorColor;
    font-style: italic;
}

.invisible {
    visibility: collapse;
}

.label {
    background-color: $bgColor;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 3px solid $gray;
    box-shadow: 0 6px 15px $labelShadow;
    border-left: none;
    color: $mildBlack;
    display: flex;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    position: fixed;
    text-transform: capitalize;
    z-index: 10;
}

.cardStyle {
    align-items: center;
    background: #fffcfcdb;
    border-radius: 15px;
    box-shadow: 1px 3px $boxShadow;
    color: $mildBlack;
    justify-content: space-between;
    margin: 1rem 2rem;
    padding: 0.5rem 1.5rem;
    text-align: center;

    .arrowButton {
        border: none;
        background: none;
    }

    .opened {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .detailsShown {
        color: $mildBlack;
        text-align: justify;
        line-height: 1.7rem;
    }
}

